<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="matrix.project.mall.mapper.AddressMapper">

    <update id="updateNoDefault">
        UPDATE address
        SET IS_DEFAULT  = 0,
            UPDATE_TIME = NOW()
        WHERE USER_ID = #{userId}
          AND STATUS = 1
    </update>
</mapper>