<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="matrix.project.mall.mapper.GoodsAttrMapper">

    <update id="removeAttr">
        update goods_attr
        set STATUS = -1
        where GOODS_ID = #{goodsId}
          and STATUS != -1
    </update>
</mapper>